/* Custom page CSS
-------------------------------------------------- */

body {
    font-size: 18px;
    color: #fff;
    background-color: #61122f;
}

.navbar-brand {
    font-weight: bold;
    color: inherit;
}

/*HEADER*/
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}
